// Font imports and definitions

@import "font-awesome";

$roboto-font-path: "../fonts" !default;
@import "roboto-fontface";
$noticia-font-path: "../fonts/noticia-text";
@import "typeface-noticia-text";

$FONT-STACK: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
$bold: "Roboto-Bold";
$light: "Roboto-Light";

/* font mixins */

@mixin default-font {
  font-family: $FONT-STACK;
}

@mixin grid-title {
  font-family: $FONT-STACK;
  font-size: 30px;
  line-height: 34px;
  font-weight: 500;
  color: #FFFFFF;
}