@import "variables";
@import "fonts";
@import "mixins";

.cbp-container {
  max-width: auto;
}

.wh-page-title-bar {
  padding-top: 80px;
  background-color: $COLOR3;
  border: none;
  h1.page-title {
    color: #ffffff;
    font-size: 64px;
    line-height: 75px;
    font-family: "Roboto-Black";
    border-bottom: 3px solid #FFFFFF;
    @include mobile {
      font-size: 36px;
      line-height: 48px;
    }
    span.number {
      font-size: 100px;
    }
  }
}

.wh-page-title-bar {
}

.page-number-1 {
  .wh-page-title-bar {
    background-color: $COLOR4;
  }
}

.bg-color1 {
  background-color: $COLOR1;
  padding: 16px;
}

body, html {
  width: 100%;
  height: 100%;
}

body.page-template-page-home {
  header, footer {
    display: none;
  }
  div#front {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    //background: url("../img/home-bg.png") 97.5% center / auto 90% no-repeat;
    background-color: #44A59C;
    transition: all 2s ease-out 0s;
    z-index: 1000;
    &.gone {
      left: -100%;
    }
    #tree {
      position: absolute;
      top: 2%;
      right: 5%;
      width: auto;
      height: 75%;
    }
    img#logo {
      margin: 5% 0 0 5%;
      max-width: 80%;
      max-height: 70%;
    }
    #welcome {
      position: absolute;
      top: 75%;
      left: 52.5%;
      max-width: 60%;
      display: inline;
    }
    #arrow {
      animation-duration: 2s;
      vertical-align: bottom;
      margin-left: 16px;
      //animation-delay: 5s;
      animation-iteration-count: infinite;
    }
  }
  div#back {
    height: 100%;
    .grid-block {
      width: 50%;
      height: 50%;
      float: left;
      background-color: #ddd;
      overflow: hidden;
      @include mobile {
        width: 100%;
      }
    }
    .grid-block-base {
      height: 100%;
      vertical-align: bottom;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 100%;
        transition: all 2s ease-out 0s;
      }
      h2 {
        position: absolute;
        @include grid-title;
        left: 0;
        display: block;
        bottom: 0;
        border-bottom: 3px solid #FFFFFF;
        margin: 30px;
        padding-bottom: 16px;
        font-size: 6em;
        .number {
          font-size: 1.5em;
          line-height: 100px;
          font-weight: 900;
        }
        .nextWords {
          display: none;
        }
      }
    }
    .grid-block-hover {
      transition: all 0.3s ease-out 0s;
      width: 100%;
      height: 100%;
      padding: 25px;
      position: absolute;
      left: 0;
      top: 100%;
      opacity: 0.0;

      .excerpt {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        font-family: "Noticia Text";
        font-size: 1.5em;
        line-height: 1.75em;
        text-align: center;
        padding: 3em;

        .btn {
          @include default-font;
          font-size: 0.9em;
          width: 50%;
          display: block;
          margin: 14px auto;
          padding: 8px;
          background-color: orange;
          color: #ffffff;
          border-radius: 8px;
          text-align: center;
          text-transform: uppercase;
          //box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        }
      }

    }
    .grid-block-base:hover {
      img {
        //transform: scale(1.1);
        opacity: 0;
        transition: all 1s ease-out 0s;
      }
      .grid-block-hover {
        opacity: 1.0;
        top: 0;
      }
    }

    .grid-block:nth-child(4n+1) {
      background-color: $COLOR4;
    }
    .grid-block:nth-child(4n+2) {
      background-color: $COLOR1;
    }
    .grid-block:nth-child(4n+3) {
      background-color: $COLOR2;
    }
    .grid-block:nth-child(4n+4) {
      background-color: $COLOR3;
    }

  }
}

.page-number-1 {
  .page-grid {
    clear: both;
    .grid-block {
      color: #fff;
      width: 33.33%;
      float: left;
    }
    .grid-block-base {
      background-color: $COLOR1;
      min-height: 480px;
      margin: 12px;
      vertical-align: bottom;
      position: relative;
      overflow: hidden;
      img {
        transition: all 2s ease-out 0s;
      }
      h2 {
        @include grid-title;
        left: 0;
        display: block;
        position: absolute;
        bottom: 0;
        border-bottom: 3px solid #FFFFFF;
        margin: 30px;
        padding-bottom: 16px;
        .number {
          display: block;
          font-size: 100px;
          line-height: 100px;
          font-weight: 900;
        }
      }
    }
    .grid-block-hover {
      transition: all 0.3s ease-out 0s;
      opacity: 0.0;
      width: 90%;
      height: 90%;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      margin: 5%;
      .btn {
        @include default-font;
        width: 50%;
        display: block;
        margin: 200px auto;
        padding: 8px;
        background-color: orange;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
        text-transform: uppercase;
        //box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
      }

    }
    .grid-block-base:hover {
      img {
        transform: scale(1.1);
        transition: all 5s ease-out 0s;
      }
      .grid-block-hover {
        opacity: 1.0;
        top: 0;
      }
    }
  }

  div.page-grid div.grid-block:nth-child(9n+2) .grid-block-base {
    background-color: #EEB982;
  }

  div.page-grid div.grid-block:nth-child(9n+4) .grid-block-base {
    background-color: $COLOR4;
  }

  div.page-grid div.grid-block:nth-child(9n+6) .grid-block-base {
    background-color: #44A59C;
  }

  div.page-grid div.grid-block:nth-child(9n+7) .grid-block-base {
    background-color: #39847B;
  }

  div.page-grid div.grid-block:nth-child(9n+1) .grid-block-base {
    background-color: #E49748;
  }

  div.page-grid div.grid-block:nth-child(9n+3) .grid-block-base {
    background-color: #D88C76;
  }

  div.page-grid div.grid-block:nth-child(9n+5) .grid-block-base {
    background-color: #D07F42;
  }

  div.page-grid div.grid-block:nth-child(9n+7) .grid-block-base {
    background-color: #66A1A9;
  }

  div.page-grid div.grid-block.next .grid-block-base {
    background-color: #19363A;
    h2 {
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 90px;
      font-weight: bold;
      line-height: 90px;
    }
  }
}

.page-number {
  .entry-content {
    color: #4A4A4A;
    font-family: "Noticia Text";
    font-size: 18px;
    line-height: 35px;
  }
}

.page-template-template-fullwidth {
  .entry-content {
    a:not(.button) {
      margin: 0 4px;
      color: #333;
      font-weight: bold;
      text-decoration: underline;
      text-decoration-color: #ddd;
      &:hover {
        text-decoration-color: #000;
      }
    }
  }
}

.page-number-2 {
  .wh-page-title-bar {
    background-color: $COLOR5;
  }
  .page-entry {
    h2 {
      text-align: center;
      color: #4A4A4A;
      font-family: "Noticia Text";
      font-size: 36px;
      line-height: 27px;
      display: block;
      .number {
        display: block;
        color: #F19551;
        font-family: Roboto;
        font-size: 64px;
        font-weight: 900;
        line-height: 94px;
      }
    }
    h2:hover {
      color: #F19551;
    }
    .excerpt {
      color: #4A4A4A;
      font-family: "Noticia Text";
      font-size: 18px;
      line-height: 35px;
      text-align: center;
    }
    hr {
      width: 25%;
      border-top: 2px solid #CCCCCC;
      margin: 4px auto;
    }
  }
  .page-entry:last-child {
    hr {
      display: none;
    }
  }
}

.nav-links {
  clear: both;
  h2 {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 40px;
  }
  a {
    color: #ffffff;
    &:hover {
      text-decoration: underline;
    }
  }
  div {
    padding: 24px 42px;
    min-height: 130px;
    font-size: 20px;
  }
  .prev {
    padding-left: 5%;
    background: url("../img/arrow-left.png") $COLOR1 2.5% 50% no-repeat;
    width: 50%;
    float: left;
    @include mobile {
      width: 100%;
      padding-left: 48px;
    }
  }
  .next {
    padding-right: 5%;
    background: url("../img/arrow-right.png") $COLOR2 97.5% 50% no-repeat;
    width: 50%;
    float: right;
    @include mobile {
      width: 100%;
      padding-right: 48px;
    }
  }
  &::after {
    clear: both;
  }
}

@media screen and (min-width: 521px) and (max-width: 768px) {
  .page-number-1 {
    .page-grid {
      .grid-block {
        width: 50%;
        .grid-block-base {
          min-height: 320px;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .page-number-1 {
    .page-grid {
      .grid-block {
        width: 100%;
        .grid-block-base {
          min-height: 240px;
        }
      }
    }
  }
}

.idx .one {
  background-color: #dddddd;
}

nav.breadcrumbs {
  font-family: "Noticia Text";
  a {
    text-decoration: underline;
    color: #333;
    text-decoration-color: #ddd;
    &:hover {
      color: #000;
      text-decoration-color: #000;
    }
  }
}

footer {
  border-top: 2px solid #ddd;
  padding: 22px 48px 48px 48px;
  margin-top: 48px;
  @include mobile {
    padding: 8px;
  }
  img {
    margin-bottom: 16px;
    @include mobile {
      max-width: 100%;
    }
  }
  img#heinrich {
    margin-right: 28px;
  }
}