@import "variables";
@import "fonts";

.cbp-container {
  max-width: auto;
}

.wh-page-title-bar {
  h1.page-title {
    color: #ffffff;
    font-size: 64px;
    line-height: 75px;
    font-family: "Roboto-Black";
    border-bottom: 3px solid #FFFFFF;
    span.number {
      font-size: 100px;
    }
  }
}

.wh-page-title-bar {
  background-color: #4A4A4A;
  border: none;
}

.page-number-1 {
  .wh-page-title-bar {
    background-color: $COLOR4;
  }
}

.bg-color1 {
  background-color: $COLOR1;
  padding: 16px;
}

.page-number-1 {
  .page-grid {
    clear: both;
    .grid-block {
      color: #fff;
      width: 33.33%;
      float: left;
    }
    .grid-block-base {
      background-color: $COLOR1;
      min-height: 480px;
      margin: 12px;
      vertical-align: bottom;
      position: relative;
      h2 {
        @include grid-title;
        left: 0;
        display: block;
        position: absolute;
        bottom: 0;
        border-bottom: 3px solid #FFFFFF;
        margin: 30px;
        padding-bottom: 16px;
        .number {
          display: block;
          font-size: 100px;
          line-height: 100px;
          font-weight: 900;
        }
      }
    }
    .grid-block-hover {
      transition: all 0.3s ease-out 0s;
      opacity: 0.0;
      width: 90%;
      height: 90%;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      margin: 5%;
      .btn {
        @include default-font;
        width: 50%;
        display: block;
        margin: 200px auto;
        background-color: orange;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
      }

    }
    .grid-block-base:hover {
      .grid-block-hover {
        opacity: 1.0;
        top: 0;
      }
    }
  }

  div.page-grid div.grid-block:nth-child(9n+2) .grid-block-base {
    background-color: #EEB982;
  }

  div.page-grid div.grid-block:nth-child(9n+4) .grid-block-base {
    background-color: $COLOR4;
  }

  div.page-grid div.grid-block:nth-child(9n+6) .grid-block-base {
    background-color: #44A59C;
  }

  div.page-grid div.grid-block:nth-child(9n+7) .grid-block-base {
    background-color: #39847B;
  }

  div.page-grid div.grid-block:nth-child(9n+1) .grid-block-base {
    background-color: #E49748;
  }

  div.page-grid div.grid-block:nth-child(9n+3) .grid-block-base {
    background-color: #D88C76;
  }

  div.page-grid div.grid-block:nth-child(9n+5) .grid-block-base {
    background-color: #D07F42;
  }

  div.page-grid div.grid-block:nth-child(9n+7) .grid-block-base {
    background-color: #66A1A9;
  }
}

.page-number-2 {
  .wh-page-title-bar {
    background-color: $COLOR5;
  }
  .page-entry {
    h2 {
      text-align: center;
      color: #4A4A4A;
      font-family: "Noticia Text";
      font-size: 36px;
      line-height: 27px;
      display: block;
      .number {
        display: block;
        color: #F19551;
        font-family: Roboto;
        font-size: 64px;
        font-weight: 900;
        line-height: 94px;
      }
    }
    h2:hover {
      color: #F19551;
    }
    .excerpt {
      color: #4A4A4A;
      font-family: "Noticia Text";
      font-size: 18px;
      line-height: 35px;
      text-align: center;
    }
    hr {
      width: 25%;
      border-top: 2px solid #CCCCCC;
      margin: 4px auto;
    }
  }
  .page-entry:last-child {
    hr {
      display: none;
    }
  }

}

@media screen and (min-width: 521px) and (max-width: 768px) {
  .page-number-1 {
    .page-grid {
      .grid-block {
        width: 50%;
        .grid-block-base {
          min-height: 320px;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .page-number-1 {
    .page-grid {
      .grid-block {
        width: 100%;
        .grid-block-base {
          min-height: 240px;
        }
      }
    }
  }
}

.idx .one {
  background-color: #dddddd;
}