// Global variables

$COLOR1: #EFB900;
$COLOR2: #A9C339;
$COLOR3: #DD6C2E;
$COLOR4: #24A2A0;
$COLOR5: #DD6C2E;

$COLOR1_1: lighten($COLOR1, 20%);
$COLOR1_2: lighten($COLOR1, 10%);
$COLOR1_3: darken($COLOR1, 10%);
$COLOR1_4: darken($COLOR1, 20%);

$COLOR2_1: lighten($COLOR2, 20%);
$COLOR2_2: lighten($COLOR2, 10%);
$COLOR2_3: darken($COLOR2, 10%);
$COLOR2_4: darken($COLOR2, 20%);

$COLOR3_1: lighten($COLOR3, 20%);
$COLOR3_2: lighten($COLOR3, 10%);
$COLOR3_3: darken($COLOR3, 10%);
$COLOR3_4: darken($COLOR3, 20%);

$COLOR4_1: lighten($COLOR4, 20%);
$COLOR4_2: lighten($COLOR4, 10%);
$COLOR4_3: darken($COLOR4, 10%);
$COLOR4_4: darken($COLOR4, 20%);

$COLOR5_1: lighten($COLOR5, 20%);
$COLOR5_2: lighten($COLOR5, 10%);
$COLOR5_3: darken($COLOR5, 10%);
$COLOR5_4: darken($COLOR5, 20%);

$BUTTON: #DD6C2E; // $COLOR5
$BUTTON_HOVER: #24A2A0; // $COLOR4