// Global variables

$COLOR1: #F4945C;
$COLOR2: #F8AD9D;
$COLOR3: #3AA59C;
$COLOR4: #B9D0D3;
$COLOR5: #F19551;

$COLOR1_1: lighten($COLOR1, 40%);
$COLOR1_2: lighten($COLOR1, 20%);
$COLOR1_3: darken($COLOR1, 20%);
$COLOR1_4: darken($COLOR1, 40%);

$COLOR2_1: lighten($COLOR2, 40%);
$COLOR2_2: lighten($COLOR2, 10%);
$COLOR2_3: darken($COLOR2, 20%);
$COLOR2_4: darken($COLOR2, 40%);

$COLOR3_1: lighten($COLOR3, 40%);
$COLOR3_2: lighten($COLOR3, 20%);
$COLOR3_3: darken($COLOR3, 20%);
$COLOR3_4: darken($COLOR3, 40%);

$COLOR4_1: lighten($COLOR4, 40%);
$COLOR4_2: lighten($COLOR4, 20%);
$COLOR4_3: darken($COLOR4, 20%);
$COLOR4_4: darken($COLOR4, 40%);